<div class="modal fade" id="add_node" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content ui-draggable">
            <div class="modal-header ui-draggable-handle">
                <a href="#" class="close" data-dismiss="modal">x</a>
                <h3 class="modal-title">Add Virtual Node</h3>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="form-group required">
                        <label class="control-label  required" for="id_name">Virtual node name</label>
                        <div class=" ">
                            <input class="form-control" id="node_name" maxlength="255" name="name" type="text" autofocus>
                        </div>
                    </div>
                    <p id="add-node-description"> Enter bandwith in Mbps to connect the new virtual node to other nodes. This is optional, you can also create links manually later. </p>
                    <div class="form-group no-margin" id="add_vnode_link_list">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input id="add_vnode_submit" class="btn btn-primary pull-right" value="Add" type="submit">
                <a class="btn btn-default secondary cancel close">Cancel</a>
            </div>
        </div>
    </div>
</div>
