<div id="balloon" class="topologyBalloon" title="Balloon Title">
    <a href="#nothing" class="closeTopologyBalloon">x</a>
    <div class="contentBody">
        <table class="detailInfoTable">
            <caption id="balloon-virtual-node-label"></caption>
            <tbody>
                <tr>
                    <th class="device">ID</th>
                    <td id="balloon-virtual-node-id">e1848032-a7a7-44b5-852c-dc42e2381552</td>
                </tr>
                <tr>
                    <th class="device">STATUS</th>
                    <td>
                        <span class="active">ACTIVE</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="portTableHeader">
            <div class="title">Instances</div>
            <div class="action">
                <button type="button" id="add_instances_button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#addInstances">Add Instances</button>
            </div>
        </div>
        <table id="balloon-instances" class="detailInfoTable" style="width:100%">
            <caption></caption>
            <tbody id="balloon-instances-list">
                <tr> <th> LABEL </th> <th> FLAVOR </th> <td></td> </tr>               
            </tbody>
        </table>
        <div class="portTableHeader">
            <div class="title">Links</div>
        </div>
        <table id="ballon-links" class="detailInfoTable" style="width:100%">
            <caption></caption>
            <tbody id="balloon-links-list">
                <tr> <th> DESTINATION </th> <th> BANDWITH </th> <td></td> </tr> 
            </tbody>
        </table>
    </div>
    <div class="footer">
        <div class="footerInner">
            <!--<div class="cell link">
                <a href="/project/networks/d61075e7-7140-4eaa-b724-c91945eae6d6/detail">» View Details</a>
            </div>-->
            <div class="cell delete">
                <button id="delete-virtual-node" class="delete-device btn btn-danger btn-xs network" data-type="network">Delete Virtual Node</button>
            </div>
        </div>
    </div>
</div>
