<div class="topologyNavi topology-buttons initialized">
    <div class="toggleView btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-default" id="toggle-button">
            <span class="fafa-th-large glyphicon glyphicon-th-large"></span> Toggle labels
        </button>
    </div>
    <div class="launchButtons">
        <button type="button" class="btn btn-default" id="create-vnode">
            <span class="fafa-th-large  glyphicon glyphicon-plus"></span> Create Virtual Node
        </button>
    </div>
</div>
