<div class="card-holder">
    <div class="topology-card">
        <div class="topology-card-header">
            Create
        </div>
        <blockquote class="topology-card-block">
            <p>Create your VDC Instance to start defining your request. You can only have a single Instance.
            Integer posuere erat a ante. </p>
            <button class="btn btn-default" id="create-vdc"> Create </button>
        </blockquote>
    </div>
    <div class="topology-card warning-card">
        <div class="topology-card-header">
            Clear
        </div>
        <blockquote class="topology-card-block">
            <p>Clear the VDC Instance. Undoing this action is not possible, once it's cleared you can't go back. Integer posuere erat a ante. 
            </p>
            <button class="btn warning" id="clear-vdc"> Clear </button>
        </blockquote>
    </div>
    <div class="topology-card succes-card">
        <div class="topology-card-header">
            Submit
        </div>
        <blockquote class="topology-card-block">
            <p>Submit your VDC request. Integer posuere erat a ante. Integer posuere erat a ante.
            Integer posuere erat a ante. Integer posuere erat a ante.</p>
            <button class="btn btn-primary" id="submit-vdc"> Submit </button>
        </blockquote>
    </div>
</div>
