<div class="card-holder">
    <div class="topology-card primary-card">
        <div class="topology-card-header">
            Create VDC
        </div>
        <blockquote class="topology-card-block">
            <p>Dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Integer posuere erat a ante.
            Integer posuere erat a ante. </p>
            <button class="btn"> Create </button>
        </blockquote>
    </div>
    <div class="topology-card warning-card">
        <div class="topology-card-header">
            Clear VDC
        </div>
        <blockquote class="topology-card-block">
            <p>Dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Integer posuere erat a ante.
            Integer posuere erat a ante. </p>
            <button class="btn"> Clear </button>
        </blockquote>
    </div>
    <div class="topology-card succes-card">
        <div class="topology-card-header">
            Submit VDC
        </div>
        <blockquote class="topology-card-block">
            <p>Dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Integer posuere erat a ante.
            Integer posuere erat a ante. </p>
            <button class="btn"> Subtmit </button>
        </blockquote>
    </div>
</div>
