{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Topology" %}{% endblock %}
{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Topology") %}
{% endblock page_header %}
{% block main %}
<link rel="stylesheet" href="../../../static/cosign/css/topology.css" type="text/css" media="screen" >
<noscript>Your browser does not support JavaScript!</noscript>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../static/cosign/js/jsPlumb.js"></script>
<script type="text/javascript" src="../../../static/cosign/js/topology.js"></script>

<div class="topologyNavi">
    <div class="toggleView btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-default">
            <span class="fafa-th-large glyphicon glyphicon-th-large"></span> Toggle labels
        </button>
    </div>
    <div class="launchButtons">
    <button type="button" class="btn btn-default">
            <span class="fafa-th-large  glyphicon glyphicon-plus"></span> Create Virtual Node
        </button>
    </div>
</div>

<div class="topology-container">
    <div class="box" id="box-1"></div> 
    <div class="box" id="box-2"></div>
    <div class="box" id="box-3"></div>
    {% for VirtualNode in virtual_node %}
        <div class="box" id="{{ virtual_node.label }}"> </div>
    {% endfor %}
</div> 
{% endblock %}
