<link rel="stylesheet" href="{{ STATIC_URL }}cosign/css/topology.css" type="text/css" media="screen" >
<link rel="stylesheet" href="{{ STATIC_URL }}cosign/css/cards.css" type="text/css" media="screen" >
<link rel="stylesheet" href="{{ STATIC_URL }}cosign/css/vis.min.css" type="text/css" media="screen" >
<noscript>Your browser does not support JavaScript!</noscript>
<script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}"; 
    var STATIC_URL = "{{ STATIC_URL }}";
</script>
<script>
    var temp___bind = Function.prototype.bind;
</script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/vis.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/jstorage.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/bootbox.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/balloon.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/buttons.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/others.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/stateController.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/network.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/add_instances.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/secure_input.js"></script>
<script>
    Function.prototype.bind = temp___bind;
</script>
<!-- TODO: use minified bootbox js file for production -->
