<link rel="stylesheet" href="{{ STATIC_URL }}cosign/css/topology.css" type="text/css" media="screen" >
<noscript>Your browser does not support JavaScript!</noscript>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/jsPlumb.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/bootbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/links.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/dialogs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/balloons.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/buttons.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cosign/js/others.js"></script>
<!-- TODO: use minified bootbox js file for production -->
