@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
.primary {
    background: #0275d8;
}
.warning {
    background: #f0ad4e;
    padding: 6px 12px !important;
    color: white;
    border: 1px solid #f0ad4e;
}
.succes {
    background: #5cb85c;
}
.no-border-radius {
    border-radius: 0px !important;
}
.btn:hover {
    color: black;
}
.warning:hover {
    background: #E3901B;
}
.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;
    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
.no-border-bottom {
    padding-top: 5px;
    position: relative;
    top: 1px;
    border-bottom: 0px solid black;
}
#clear-vdc, #submit-vdc {
    float: right;
}
.has-spinner.active {
  cursor:progress;
}
.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}
.has-spinner.btn-mini.active .spinner {
    width: 10px;
}
.has-spinner.btn-small.active .spinner {
    width: 13px;
}
.has-spinner.btn.active .spinner {
    width: 16px;
}
.has-spinner.btn-large.active .spinner {
    width: 19px;
}
.g-copy {
    width: 36px;
    height: 32px;
    position: relative;
    top: 1px;
    border-bottom: 1px solid transparent;
    display: inline-block;
    background: url(../img/copy.svg) center no-repeat;
}
.g-upload {
    width: 36px;
    height: 32px;
    position: relative;
    top: 1px;
    margin: -4px;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    display: inline-block;
    background: url(../img/upload.svg) center no-repeat;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/* FORCE CSS to overwrite default vis.js appearance */
.vis-manipulation {
    padding: 4px !important;
    height: auto !important;
}
.vis-button {
    border: none !important;
    border-radius: 0 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background: none !important;
    background-repeat: no-repeat !important;
}
.vis-button:hover {
    box-shadow:none !important;
    text-decoration: underline;
}
.vis-none:hover {
    text-decoration: none;
}
.vis-edit {
    background-image: url("../img/editIcon.png") !important;
}
.vis-add {
    background-image: url("../img/addNodeIcon.png") !important;
}
.vis-connect {
    background-image: url("../img/connectIcon.png") !important;
}
.vis-delete {
    background-image: url("../img/deleteIcon.png") !important;
}
.vis-back {
    background-image: url("../img/backIcon.png") !important;
}
.vis-close {
    background-image: url("../img/cross.png") !important;
}
