/* Additional SCSS for {{ dash_name }}. */
.topology-container {
    width: 100%;
    height: auto;
    padding: 25px 25px 25px 50px;
    background: #FFF none repeat scroll 0% 0%;
    min-height: 400px;
}
